<div class="expBody"><h5>Software Engineer Trainee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Aug 2017 – Dec 2017</h5>
<h4> Data Boss International Corp. – New Jersey</h4>
<h5><label>Description:</label> I have developed product distribution module of web application for the Client Globe Pharma related to their products and the product maintenance.</h5>
<div class="responsibilits"><h5><label>Responsibilities:</label></h5>
        <h5>·	Developed Controller for request, response paradigm by Spring Controllers using Spring-MVC.</h5>
        <h5>·	Used Maven for project management and build Spring Boot Application.</h5> 
        <h5>·	Developed RESTful web services using JAX-RS.</h5>
        <h5>·	Involved in writing queries to retrieve data from the database using DAO Layer.</h5>
        <h5>·	Developed Components of the UI using, HTML5, JavaScript, CSS3 and angular JS.</h5>
        <h5>·	Fixing QA defect for the application</h5></div>
<h5><label>Skills:</label>Spring Boot, Spring, Hibernate, Java/J2EE, HTML5, CSS3, angular JS, MySQL, Eclipse.</h5>
</div>
<div>
<hr>

<div class="expBody"><h5>Java Developer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Jan 2017 - May 2017</h5>
<h4>University of Central Missouri – Missouri</h4>
<div class="responsibilits"><h5><label>Description:</label> University of central Missouri is a State university. Here I worked under Prof. who
    taught Advanced Software Engineering and Software Engineering. Here I developed a project for class
    registration and class allocation in the Course Advanced Software Engineering.</h5>
<h5><label>Responsibilities:</label></h5>
        <h5>·	Involved in research related to development of the University related application which provide different services to the students.</h5>
        <h5>·	Updated existing websites by altering, removing, or adding content as needed.</h5> 
        <h5>·	Involved in developing the MVC controller using Spring.</h5>
        <h5>·	Developed Hibernate in Data Access Layer to access and update information in the database.</h5>
        <h5>·	Version control my projects using Git in combination with GitHub.</h5>
        <h5>·	Writing queries to populate the data from database and present it on UI.</h5></div>
<h5><label>Skills:</label>Spring, Hibernate, Maven, Eclipse, MySQL, HTML5, CSS3, Git.</h5>
</div>
<div>
<hr>
<div class="expBody">
<h5> Systems Engineer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sep 2014 - Dec 2015</h5>
<h4> Infosys Ltd. – Hyderabad, India.</h4>
<h5><label>Description:</label>Here the client is Medtronic’s.  I involved in developing the modules for the B2B e-commerce web application using Hybris Platform.</h5>
<div class="responsibilits"><h5><label>Responsibilities:</label></h5>
        <h5>·	Involved in writing impex file and execute them in Hybris platform.</h5>
        <h5>·	Implemented the data access layer using Hibernate persistence framework through Hybris Suit.</h5> 
        <h5>·	Integrating the current work flow with the existing workflow and Testing all the functionalities.</h5>
        <h5>·	Involved in developing DAO Layer using Hibernate.</h5>
        <h5>·	Implemented transaction management of Relational Databases using MySQL database. </h5></div>
<h5><label>Skills:</label>Java/J2EE, Spring, Hibernate, HTML5, CSS3, JSP, Hybris Platform, MS SQL, Eclipse.</h5>
</div>
<div>
<hr>
<div class="expBody">
<h5>Jr Java Developer &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 2013 - July 2014</h5>
<h4> Tech matrix compulogics Pvt ltd –Hyderabad, India.</h4>
<h5><label>Description:</label> I have developed product distribution module of web application for the Client Globe Pharma related to their products and the product maintenance.</h5>
<div class="responsibilits"><h5><label>Responsibilities:</label></h5>
        <h5>·	Involved in writing use cases as per the client requirement.</h5>
        <h5>·	Developed various business logics in the service layer of the given application.</h5> 
        <h5>·	Developed UI using HTML5, CSS3 and JavaScript.</h5>
        <h5>·	Helped the testing team in testing the applications with different scenarios.</h5></div>
<h5><label>Skills:</label>Java/J2EE, HTML5, CSS3, JavaScript, Eclipse.</h5>

</div>
<hr>
