
h4{
    color:#021419;
    padding-left: 8px;
    padding-right: 8px;
}
.row1{
    background-image: url("/../assets/images/bg1.gif");  
    background-color: #facc01;
    margin-top: 5px; 
    margin-right: 5px; 
    margin-left: 5px; 
    border-radius: 10px;
    
}
h3,h5,h6{
    color: #021419;
   
}
.summi {
  float: left;
  width: 100%;
  overflow-y: auto;
  height: 400px;
}

.expp{
    background-image: url("/../assets/images/bg4.gif");
    background-color: #20ccc0;
    margin-left:10px;
    border-radius: 10px;
    padding-left: 10px;

    
  }
  .ucm{
        background-image: url("/../assets/images/bg1.gif");
        background-color: #facc01;
        border-radius: 10px;
        margin:5px;
        padding: 10px;
  }

  ::-webkit-scrollbar {
    width: 10px;
    margin-right: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
    margin-right: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(15,111, 198); 
    border-radius: 10px;
    margin-right: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(15,111, 198); 
    margin-right: 5px;
}