<div class="container-fluid">
  <div class="row">

    <div class="col-md-4">
      <img src="assets/images/prof.jpg" alt="sundar" class="img-responsive">
    </div>

    <div class="col-md-8 right-content">
      <div class="row">
        <h2 class="list-group-item-heading" style="color:#064052">Sundar Kumar Bandiguptapu</h2>
        <h4 class="list-group-item-text">FullStack Developer( UI + Java )</h4>
        <br>
        <h4 style="font-weight:600">About:</h4>
        <div class="col-xs-11">
          <h4>I'm a Computer Science Graduate from the University Of Central Missouri having good experience in web development.I
            have spent the last 4 years developing my skills in different areas of web development. Currently, I'm looking
            for a Job opportunity.I feel I’m now ready for more challenges.
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 contact">
          <a style="cursor:pointer;" class="fa fa-envelope email pull-left">&nbsp;bssundarkumar@gmail.com</a>
          <br>
          <br>
          <a class="fa fa-phone email pull-left">&nbsp;{{phoneNumber}}</a>
          <br>
          <br>
        </div>
        <div class="col-xs-4 address">
          <div class="	fa fa-home email ">&nbsp;
            <br> 791 Hermann Rd
            <br> North Brunswick,
            <br> NJ-08902
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 logo">
          <a href="https://www.linkedin.com/in/bssundarkumar" class="fa fa-linkedin"></a>&nbsp;&nbsp;&nbsp;
          <a href="https://github.com/Bssundarkumar" class="fa fa-github"></a>
        </div>
      </div>

    </div>

  </div>
</div>