.sqr{
    background-image: url("/../assets/images/4.3.gif");
    
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}
.sml{
        background-image: url("/../assets/images/2.3.gif");
        border-radius: 10px;
        padding: 10px;  
}

.row{
    
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
    width: 100px!important;

  }
  .fa-github {
    background:black;
    color: white;
    width: 100px!important;

  }

  .logo{
    
      margin-left: auto;
      margin-right: auto;
        text-align: center;
      padding: 10px;
  }
  
  .fa-envelope {
    
    color: #021419;
  }
  .fa {
   
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius:30px;
    /* margin: 5px 2px; */
  }
  
  /* .fa:hover {
      opacity: 0.7;
  } */
.img5{
    max-width: 90px;
    max-height: 70px;
    background-image: url("/../assets/images/4.5.jpg");
    border-radius: 700px;
}
  .list-group-item-heading {
    margin-top: 40px;
    margin-bottom: 5px;
}

.email{
    font-size: 20px;
    color:#000506;
    
} 

img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 28px; */
    margin-top: 2px;
    max-height: 527PX;
   padding-bottom: 2PX;
 
}
.address{
   
    border:1px #0079a1;
    color: #000506;
}

.contact{
    margin-left: 0.3ex;
    margin-top: 2.1ex;
}
img.center {
    display: block;
    margin: 0 auto;
}
h4{
    color: #021419; 
}
h3{
    color: #021419; 
}
hr {
    
    border-top: 3px solid #064052;
    margin: auto;
}