<div class="row">
  
    <div class="col-xs-4">
        <img    
         src="assets/images/sundar1.jpg"
          alt="sundar"
          class="img-responsive" 
          style="max-height:300px;">
    </div>
 
  <div class="col-xs-8 "  >
      <h2 class="list-group-item-heading" style="color:rgb(62, 2, 66)">Sundar Kumar Bandiguptapu</h2>
      <h4 class="list-group-item-text">FullStack Developer( UI + Java )</h4> <br>
      <h4 style="font-weight:600">About:</h4>
        <div class="col-xs-11"> 
          <h4> &nbsp;&nbsp;&nbsp;&nbsp; I'm a Computer Science Graduate from University Of 
            Central Missouri having good experience in web development.I have spent the 
            last 4 years developing my skills in differenct areas of web deveopment. 
            Currently I'm looking for an Job opportunity.I feel I’m now ready for more challengs.
          </h4>
        </div>
        <div class="col-xs-4 contact">
        <a  style="cursor:pointer;" class="fa fa-envelope email pull-left">&nbsp;bssundarkumar@gmail.com</a><br><br>
        <a  style="cursor:pointer;" class="fa fa-phone email pull-left">&nbsp;{{phoneNumber}}</a><br><br>
        </div>
        <div class="col-xs-4 address">
          <div   class="	fa fa-home email ">&nbsp;<br>
                                                         791 Hermann Rd
                                                         North Brunswick
                                                         NJ-08902
          </div><br><br>
        </div>
        <div class="col-xs-8 logo">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/bssundarkumar" class="fa fa-linkedin"></a>&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/Bssundarkumar" class="fa fa-github"></a>
        </div>
  </div>

</div>
