.fa-linkedin {
    background: #007bb5;
    color: white;
    width: 100px!important;

  }
  .fa-github {
    background:black;
    color: white;
    width: 100px!important;

  }

  .logo{
      margin-left: auto;
      margin-right: auto;
        text-align: left;
        margin-top: 20PX;
  }
  
  .fa-envelope {
    
    color: #0079a1;
  }
  .fa {
   
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius:30px;
    /* margin: 5px 2px; */
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .list-group-item-heading {
    margin-top: 40px;
    margin-bottom: 5px;
}

.email{
    font-size: 20px;
    color:#064052;
    width: 189px;
} 

img{
   display: block;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 28px; */
    margin-top: 25px;
    max-height: 450PX;
 
}
.address{
    margin-left: 15.3ex;
    border:1px #0079a1;
    color: #0079a1;
}

.contact{
    margin-left: 0.3ex;
    margin-top: 2.1ex;
}
img.center {
    display: block;
    margin: 0 auto;
}
h4{
    color: #0b4354;
}