.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: #070707;
    color: white;
  }
  
  .fa-envelope {
    
    color: rgb(233, 18, 18);
  }
  .fa {
    padding-left: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .list-group-item-heading {
    margin-top: 40px;
    margin-bottom: 5px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 22px;
    margin-bottom: 10px;
    margin-left: 34px;
}
.email{
    font-size: 20px;
    color:black;
    width: 189px;
} 
.fa.pull-left {
    margin-right: -5.7em;
}
.logo{
    margin-left: 5.3em;
    margin-top: 2.1em;
}
img{
    margin-left: 0.3em;
    
}
.address{
    margin-left: 15.3ex;
}

.contact{
    margin-left: 0.3ex;
    margin-top: 2.1ex;
}
h2{

}