<div class="container-fluid ">
  <div class="row">

    <div class="col-md-4 col-xs-12">
      <img src="assets/images/sundar.gif" alt="sundar" class="img-responsive">
    </div>

    <div class="col-xs-12 col-md-8  right-content">
      <div class="sqr">
        <div class="row">
          <h2 class="list-group-item-heading" style="color:#010e13; font-family: monospace; text-align: center;font-weight: 900;text-shadow: 1px 1px rgb(255, 251, 0);">Satya Sundar Kumar Bandiguptapu</h2>
          <hr>
          <span>
            <img src="assets/images/angular.gif" alt="sundar" class="img5 pull-left">
            <img src="assets/images/java.gif" alt="sundar" class="img5 pull-right">
          </span>
          <h3 class="list-group-item-text" style="text-align: center;font-weight: 600;">FullStack Developer(UI + Java)</h3>
          <br>
          <div class="row sml">
            <h4 style="font-weight:700">About:</h4>
            <h4 style="font-weight:400; font-family: Times New Roman">I'm a Computer Science Graduate from the University Of Central Missouri having good experience in web development.I
              have spent the last 4 years developing my skills in different areas of web development. Currently, I'm looking
              for a Job opportunity.I feel I’m now ready for more challenges.
            </h4>
            <div class="row ">
              <div class="col-xs-12 col-md-6  contact ">
                <a href="mailto:bssundarkumar@gmail.com" style="cursor:pointer;" class="fa fa-envelope email pull-left">&nbsp;bssundarkumar@gmail.com</a>
                <br>
                <br>
                <a class="fa fa-phone email pull-left">&nbsp;{{phoneNumber}}</a>
                <br>
                <br>
              </div>
              <div class="col-md-4 col-xs-12 address">
                <div class="	fa fa-home email ">&nbsp;
                  <br> 132 Windingwood Dr, APT#8A
                  <br> Sayreville,
                  <br> NJ-08872
                </div>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 logo ">
            <a href="https://www.linkedin.com/in/bssundarkumar" class="fa fa-linkedin"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://github.com/Bssundarkumar" class="fa fa-github"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>