.email {
    font-size: 242px;
    color: black;
    width: 251px;
    margin-top: 17px;
}
.fa-graduation-cap{
    color: rgb(41, 1, 44) ;
}

.btnhi{
    margin-top: -17px!important;
    padding: 4px 8px!important;
    font-size: 8px;
} 
.btn{
    padding: 5px 14px;
    font-size: 18px;
    /* margin: auto; */
    margin-top:38px;
    margin-left: 2px;
    margin-bottom: 4px;
    display:block;
    
}
.btn-primary {
    color: #fff;
    background-color: rgb(41, 1, 44);
    border-color: rgb(41, 1, 44);
}

h2{
    color:rgb(41, 1, 44)    ;
}
.fa-mortar-board:before, .fa-graduation-cap:before {
    content: "\F19D";
    margin-left: 35px;
}