<div class="row">
    <div class="col-xs-4 skill">
          <a href="#" class="fa fa-graduation-cap email pull-left"></a>
    </div>
    <div class="col-xs-8 tabCon">
        <h2>Master’s Degree: Computer Science  </h2>
        <h3> University of Central Missouri - Missouri</h3>
        <h3>Jan 2016 - Dec 2017</h3>
        <br>
        <h2>Bachelor of Technology: Electronics and Communication Engineering</h2>
        <h3>Jawaharlal Nehru Technological University - India</h3>
        <h3>July 2010 - May 2014</h3>
    </div>
  </div>