<div class="container-fluid">
    <div class="row" *ngIf="!showMode">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <Button class="btnhi btn btn-primary " (click)="onHideCertificate()">
                <i class="fa fa-hand-o-left" aria-hidden="true"></i> Back To Education</Button>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row" *ngIf="showMode">
        <div class="col-xs-12 col-sm-6 col-md-7">
            <div class="row">
                <div class="col-xs-12 col-md-4 immg">
                    <span>
                        <img src="assets/images/ucm.jpg" alt="sundar" class="img-responsive">
                    </span>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <br>
                    <h3>Master of Science</h3>
                    <h4> Computer Science </h4>
                    <h4> University of Central Missouri - Missouri</h4>
                    <h5>Jan 2016 - Dec 2017</h5>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-md-4 immg">
                    <span>
                        <img src="assets/images/jntuk.jpg" alt="sundar" class="img-responsive">
                    </span>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-8">
                    <br>
                    <h3>Bachelor of Technology</h3>
                    <h4> Electronics and Communication Engineering</h4>
                    <h4>Jawaharlal Nehru Technological University - India</h4>
                    <h5>July 2010 - May 2014</h5>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-5">
           
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <span >
                            <img src="assets/images/masters.jpg" alt="sundar" class="img-responsive img2">
                        </span>
                    </div>
                </div>
        
            <div class="row">
                <div class="col-xs-12 col-md-12 ">
                    <Button class="btn btn-primary" (click)="onShowCertificate()" *ngIf="showMode">
                        <i class="fa fa-hand-o-right"></i> Certifications</Button>
                </div>
            </div>
        </div>
    </div>
</div>