<div class="content box">
  <div class="row row1 ">
    <div class="pull-left">
          <h4 style="padding-left:15px;">{{certificate.cname}}</h4>
    </div>
    <div class="pull-right">
          <h4>{{certificate.cdate}}</h4>
    </div>
  </div>
 
  <div class="row">
  <div class="col-xs-12">
    <img
      [src]="certificate.cimg"
      alt="{{ certificate.cname }}"
      class="img-responsive img1"
      >
  </div>
</div>
  <div class="row row2">  
    <div class="col-xs-12">
      Licence:
      <a style="color:rgb(41, 1, 44);" href="certificate.curl">{{certificate.curl}}</a>
    </div>
  </div>

</div>