<div class="content box">
  <div class="row row1 ">
    <div class="pull-left">
          <h4 style="padding-left:15px;">{{certificate.certificationName}}</h4>
    </div>
    <div class="pull-right">
          <h4>{{certificate.certificationDate}}</h4>
    </div>
  </div>
 
  <div class="row">
  <div class="col-xs-12">
    <img
      [src]="certificate.certificationImg"
      alt="{{ certificate.certificationName }}"
      class="img-responsive img1"
      >
  </div>
</div>
  <div class="row row2">  
    <div class="col-xs-12">
      <h4>Licence:
      <a style="color:white;" href="certificate.certificationurl">{{certificate.certificationurl}}</a></h4>
    </div>
  </div>

</div>