
label{
    color: black;
}

/* .btn{
    padding: 9px 18px;
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
    display:block;
}
.btn-primary {
    color: #fff;
    background-color: rgb(41, 1, 44);
    border-color: rgb(41, 1, 44);
} */