
.fa-desktop {
    background: #064052;
    color: white;
    font-size: 120px;
    width: 220px!important;
    padding: 20px;
   text-align: center;
   

}
.fa-file-code-o{
    background:#064052;
    color: white;
    font-size: 120px;
    width: 220px !important;
    padding: 20px;
    text-align: center;
}
/* .logo{
    margin-right: 2.1em;
} */
/* .fa.pull-left {
    margin-right: -7.7em;
} */
.fa {
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}
.skills{
    font-size: 20px;
    font-weight: 500;
}
.skill{
    font-weight: bold;
    text-align: center;
}