<div class="col-lg-6 col-md-6 ">
    <div class="my-ability">
     
      <div class="row logo" >
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="my-ability-content">
            <i class="fa fa-desktop"></i>
            <h4>Web Developer</h4>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="my-ability-content">
            <i class="fa fa-file-code-o"></i>
            <h4>Java Developer </h4>
          </div>
        </div>
          
      </div>
    </div>
  </div>
  <br>
  <br>
<div class="col-xs-12">
<h5  class="fa fa-asterisk email ">
  &nbsp;Over 3.5 years of professional IT experience in developing applications using Java, 
  J2EE, Spring Boot, Spring, Hibernate and front-end technologies</h5><br>
<h5  class="fa fa-asterisk email ">
  &nbsp;Experienced in developing web applications for different Clients.</h5><br>    
<h5  class="fa fa-asterisk email ">
  &nbsp;Experience in designing, developing and implementing E-Commerce, B2B application.</h5>
  </div>
   