.email {
    font-size: 20px;
    color: black;
    width: auto!important;
}

.fa-desktop {
    background: rgb(41, 1, 44);
    color: white;
    font-size: 120px;
    width: 220px!important;
    padding: 20px;
    border-radius: 30px;
}
.fa-file-code-o{
    background:rgb(41, 1, 44);
    color: white;
    font-size: 120px;
    width: 220px !important;
    padding: 20px;
}
.logo{
    margin-right: 2.1em;
}
.fa.pull-left {
    margin-right: -7.7em;
}
.fa {
    /* padding-left: 20px; */  
    text-align: center;
    /* text-decoration: none; */
    border-radius: 30px;
}
