<div class="container-fluid">
  <div class="row sur">
    <h3 style="text-align: center; font-weight: 700;color: #010e13; text-decoration-line: underline">Web Developer&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Java Programmer</h3>

    <!-- <div class="col-xs-12 col-md-12">
      
        <img src="assets/images/web Developer.jpg" alt="sundar" class="img-responsive img3">
    
    </div> 
     -->
    
      
       <div class="summ">
          <div class="sam">
        <h4 style="font-weight: 600;font-size: 20px; color:#010e13 ">Over 4 years of professional IT experience in developing scalable, reliable and efficient enterprise applications
          using Core Java, Spring, Webservices, Hibernate, Angular 2/4.
        </h4>



        <h4>
          &nbsp; * Involved in full life cycle of Software Development (SDLC) process including requirement gathering, design, development,
          implementation, testing and maintenance.
          <br>
          <br> &nbsp;* Experience in Object oriented analysis, design/development methodologies, UML Use Cases, Sequence, Page
          Flow and Class Diagrams.
          <br>
          <br> &nbsp;* Experience in various MVC frameworks – Angular 2/4, Spring, Hibernate.
          <br>
          <br> &nbsp;* Experience in developing RESTful web services (JAX - RS).
          <br>
          <br> &nbsp;* Experience in developing rich user interface using Angular 2/4, JSON, JavaScript, HTML5, and CSS3.
          <br>
          <br> &nbsp;* Good Knowledge in Spring Boot and Soap Web services.
          <br>
          <br> &nbsp;* Experience in implementing persistence layer using JDBC and Hibernate.
          <br>
          <br> &nbsp;* Solid Experience with SQL, PL/SQL, and databases including Oracle, MySQL.
          <br>
          <br> &nbsp;* Worked with object-oriented design principles(oops) like encapsulation, abstraction, polymorphism, inheritance,
          Multi-Threading.
          <br>
          <br> &nbsp;* Experience in writing unit tests using Junit, Jasmine and Karma.
          <br>
          <br> &nbsp;* Good working knowledge to develop the projects using Waterfall, Iterative, Test Driven Development and
          Agile Methodologies.
          <br>
          <br> &nbsp;* Experience in using IDE tools such as Eclipse, Spring Tools Suite.
          <br>
          <br> &nbsp;* Experience in using various Configuration Management tools like SVN, Git.
          <br>
          <br> &nbsp;* Good Working knowledge of various design patterns such as MVC, Singleton, Dao.
          <br>
          <br> &nbsp;* Quick to learn new technologies and ability to work in tight schedules on different applications concurrently.

        </h4>
      </div>


    </div>
  </div>
</div>