<nav class="navbar navbar-default"  style="background:rgb(255, 81, 0)">
  <div class="container-fluid" >
      <div class="navbar-header">
          <a  class="navbar-brand" >Sundar Kumar</a>
      </div>
       <div class="collapse navbar-collapse" >
           <ul class="nav navbar-nav" >
               <li>
                   <a href="#" >Home</a>
               </li>
               <li>
                  <a href="#" >Summary</a>
               </li>
               <li>
                 <a href="#" >Skills</a>
               </li>
               <li>
                  <a href="#" >Education</a>
               </li>
               <li>
                  <a href="#" >Experience</a>
               </li>
           </ul>
         
       </div>
  </div>
</nav>