<nav class="navbar navbar-default"  style="background:rgb(41, 1, 44);">
  <div class="container-fluid" >
      <div class="navbar-header">
          <a  class="navbar-brand" ></a>
      </div>
       <div class="collapse navbar-collapse list-group" >
           <ul class="nav navbar-nav list-group" >
               <li routerLinkActive="active"><a routerLink="home" >Home</a></li>
               <li routerLinkActive="active"> <a  routerLink="summary">Summary</a></li>
               <li routerLinkActive="active"><a  routerLink="skills">Skills</a></li>
               <li routerLinkActive="active"><a  routerLink="education" >Education</a></li>
               <li routerLinkActive="active"><a  routerLink="experience">Experience</a></li>
           </ul>
       </div>
  </div>
</nav>