.saq{
  background-image: url("/../assets/images/bg4.gif");
  background-color: #20ccc0;
  
  border-radius: 10px;
  
}
.slm{
      background-image: url("/../assets/images/bg6.gif");
      background-color: #d2b734;
      border-radius: 10px;
}
.srt{
  background-image: url("/../assets/images/bg2.gif");
  background-color: #fedbb5;
  border-radius: 10px;
}


.test [class*="col-"] {
    padding: 15px;
    border: 1px solid #0b4354;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.container {
    width: 100%;
    /* background-color: white; */
}
.skill{
   text-align: center;
}
hr {
     /* margin-top: -7px; 
     margin-bottom: 7px;  */
    border: 0;
    border-top: 1px solid #0b4354;
}

* {box-sizing:border-box}

/* Container for skill bars */
.container {
    width: 100%; /* Full width */
}

h4 {
    /* margin-top: -10px; */
   
    font-weight: bold;
    text-underline-position: auto;
    color:#021419;
}

/* 
skill */
/* --- Skills --- */
h5,h6 {
	color:black;
    font-weight: bold;
}
.progress-wrap{
    position: relative;
  }
  
  .progress .color1,
  .progress .color1 .bar-width{
    background: rgb(88, 26, 7);
  }


.row{
  margin-bottom: 10px;
}
  
  .progress .color2,
  .progress .color2 .bar-width{
    background: #6aa42f;
  }
  
  .progress .color3,
  .progress .color3 .bar-width{
    background: #ffcc33;
  }
  
  .progress .color4,
  .progress .color4 .bar-width{
    background: #db3615;
  }
  .progress .color5,
  .progress .color5 .bar-width{
    background: rgb(6, 2, 56);
  }
  .progress .color6,
  .progress .color6 .bar-width{
    background: rgb(224, 40, 40);
  }
  .progress .color7,
  .progress .color7 .bar-width{
    background: rgb(6, 32, 119);
  }
  .progress .color8,
  .progress .color8 .bar-width{
    background: rgb(6, 64, 82);
  }
  .progress .color9,
  .progress .color9 .bar-width{
    background: rgb(2, 66, 2);
  }
  
  .progress, 
  .progress-bar {
    height: 15px;
    line-height: 15px;
    background:white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    overflow: visible;
    text-align: right;
  }
  
  .progress{
    position: relative;
  }
  
  .progress .bar-width{
    position: absolute;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    top: -30px;
    border-radius: 2px;
    margin-left: -30px;
  }
  
  .progress span{
    position: relative;
  }
  
  .progress span:before{
    content: " ";
    position: absolute;
    width: auto;
    height: auto;
    border-width: 8px 5px;
    border-style: solid;
    bottom: -15px;
    right: 8px;
  }
  
  .progress .color1 span:before{
    border-color: rgb(88, 26, 7) transparent transparent transparent;
  }
  
  .progress .color2 span:before{
    border-color: #6aa42f transparent transparent transparent;
  }
  
  .progress .color3 span:before{
    border-color: #ffcc33 transparent transparent transparent;
  }
  
  .progress .color4 span:before{
    border-color: #db3615 transparent transparent transparent;
  }
 
  .progress .color5 span:before{
    border-color:  rgb(6, 2, 56) transparent transparent transparent;
  }
 
  .progress .color6 span:before{
    border-color:  rgb(224, 40, 40) transparent transparent transparent;
  }
  .progress .color7 span:before{
    border-color:  rgb(6, 32, 119) transparent transparent transparent;
  }
  .progress .color8 span:before{
    border-color:  rgb(6, 64, 82) transparent transparent transparent;
  }
  .progress .color9 span:before{
    border-color:  rgb(2, 66, 2) transparent transparent transparent;
  }