<div class="row">
  <div class="col-xs-4 skill">

      <img    
      src="assets/images/skills.jpg"
       alt="sundar"
       class="img-responsive" 
       style="max-height:300px;">

      
  </div>
  <div class="col-xs-8 tabCon">
      
      <table allign="center" class="table table-bordered table-sm">
          <tbody>
              <tr>
                  <td id="firstCol">Programming Language</td>
                  <td>JAVA/J2EE, Spring, Hibernate, Spring Boot, Maven, Web Services(RESTfull).</td>
                 
                </tr>
                <tr>
                  <td id="firstCol">Web Development</td>
                  <td>HTML5, CSS3, JavaScript, jQuery, Angular 4/5.</td>
                 
                </tr>
                <tr>
                    <td id="firstCol">Other</td>
                    <td>MySQL, Hybris, Postman, GitHub.</td>
                   
                  </tr>
          </tbody>
        </table>

  </div>
</div>