<div class="row">
  <div class="col-xs-4 skill">
<!-- 
      <img    
      src="assets/images/skills.jpg"
       alt="sundar"
       class="img-responsive" 
       style="max-height:300px;">

        -->
        <h4>Programming Language </h4>
        <hr>
        <div class="container">
            <div class="skills java pull-left lt">
                Java/J2EE
                <span class="pull-right rt">
                  80%
                </span>
              </div>
        </div>
        <br>
        <div class="container">
            <div class="skills spring pull-left lt">
                Spring
                <span class="pull-right rt">
                  75%
                </span>
              </div>
        </div>
        <br>
          <div class="container">
            <div class="skills hibernate pull-left lt">
                Hibernate
                <span class="pull-right rt">
                  80%
                </span>
              </div>
            </div>
            <br>
            <div class="container">
                <div class="skills sb pull-left lt">
                   Spring Boot
                    <span class="pull-right rt">
                      85%
                    </span>
                  </div>
            </div>
            <br>
        <div class="container">
            <div class="skills rest pull-left lt">
                RESTfull Web Services
                <span class="pull-right rt">
                  70%
                </span>
              </div>
        </div>
        
  </div>
  
  <div class="col-xs-4 tabCon skill">
      
      <!-- <table allign="center" class="table table-bordered table-sm">
          <tbody>
              <tr>
                  <td id="firstCol">Programming Language</td>
                  <td>JAVA/J2EE, Spring, Hibernate, Spring Boot, Maven, Web Services(RESTfull).</td>
                 
                </tr>
                <tr>
                  <td id="firstCol">Web Development</td>
                  <td>HTML5, CSS3, JavaScript, jQuery, Angular 4/5.</td>
                 
                </tr>
                <tr>
                    <td id="firstCol">Other</td>
                    <td>MySQL, Hybris, Postman, GitHub.</td>
                   
                  </tr>
          </tbody>
        </table>-->
        
        <h4>Web Technologies</h4>
        <hr>
        <div class="container">
            <div class="skills ang pull-left lt">
                Angular 2/4/5
                <span class="pull-right rt">
                  70%
                </span>
              </div>
        </div>
        <br>
        <div class="container">
            <div class="skills html pull-left lt">
               HTML5
                <span class="pull-right rt">
                  90%
                </span>
              </div>
        </div>
        <br>
        <div class="container">
            <div class="skills css pull-left lt">
                CSS3
                 <span class="pull-right rt">
                   85%
                 </span>
               </div>
        </div>
        <br>
        <div class="container">
            <div class="skills bt pull-left lt">
               Bootstrap
                <span class="pull-right rt">
                  70%
                </span>
              </div>
        </div>
       <br>
        <div class="container">
            <div class="skills jq pull-left lt">
               jQuery
                <span class="pull-right rt">
                  75%
                </span>
              </div>
        </div>

    <br>
        <div class="container">
            <div class="skills js pull-left lt">
                Java Script
                 <span class="pull-right rt">
                   75%
                 </span>
               </div>
        </div>



  </div>
  <div class="col-xs-4  skill ">
      <h4 >Other Technologies</h4>
      <hr>
        <div class="container">
        <div class="skills ms pull-left lt">
          MySQL, MS SQL
          <span class="pull-right rt">
            90%
          </span>
        
        </div>
        </div>
        <br>
        <div class="container">
            <div class="skills hb pull-left lt">
               Hybris
                <span class="pull-right rt">
                  50%
                </span>
              </div>
        </div>
        <br>
        <div class="container">
            <div class="skills gt pull-left lt">
                GIT
                 <span class="pull-right rt">
                   70%
                 </span>
               </div>
        </div>

        <br>
        <div class="container">
            <div class="skills js pull-left lt">
                Postman
                 <span class="pull-right rt">
                   75%
                 </span>
               </div>
        </div>

        <br>
        <div class="container">
            <div class="skills html pull-left lt">
                Eclipse, Maven
                 <span class="pull-right rt">
                   90%
                 </span>
               </div>
        </div>
  </div>
</div>
<div class="row">
  
</div>