<app-header (selectedFeature)="onNavigateFeature($event)"></app-header>

<div class="row">
    <div class="col-md-12">
        <!-- <app-home *ngIf="loadedFeature ==='home'"></app-home>
        <app-summary *ngIf="loadedFeature ==='summary'"></app-summary>
        <app-skills *ngIf="loadedFeature ==='skills'"></app-skills>
        <app-education *ngIf="loadedFeature ==='education'"></app-education>
        <app-experience *ngIf="loadedFeature ==='experience'"></app-experience>  -->
        <router-outlet></router-outlet>
    </div>
</div>