/* .list-group-item.active {
    color: #fff;
    background-color: #29012c;
    border-color: #29012c;  
} */
.abc{
    background: transparent;
    border: 0; 
}

.rin{
    padding-left: 8px;
    padding-right: 8px;
}
.list-group-item.active {
    color: #fff;
    background-color: #29012c;
    border-color: #29012c;  
}
